<!DOCTYPE html>
<html lang="en">
<head>
  <title>Parakeet</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    
    .carousel-inner img {
        width: 100%; /* Set width to 100% */
        margin: auto;
    }
    .tableOne {
      border-color: white;
      border-width: 1px;
      min-height:400px;
      margin-left: auto;
      margin-right: auto;
      max-width: 1100px;
      float: none;
    }
    .occupancy {
      position:absolute;
      bottom:10px;
      right:150px;
    }
    .start_button {
      background-color:transparent;
      -moz-border-radius:28px;
      -webkit-border-radius:28px;
      border-radius:28px;
      border:1px solid #f0e735;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:17px;
      padding:16px 31px;
      text-decoration:none;
      position:absolute;
      bottom:10px;
      right:730px;
    }
    .start_button:hover {
      background-color:yellow;
    }
    .stop_button {
      background-color:transparent;
      -moz-border-radius:28px;
      -webkit-border-radius:28px;
      border-radius:28px;
      border:1px solid #f0e735;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:17px;
      padding:16px 31px;
      text-decoration:none;
      position:absolute;
      bottom:10px;
      right:600px;
    }
    .stop_button:hover {
      background-color:yellow;
    }
    /* Hide the carousel text when the screen is less than 600 pixels wide */
    @media (max-width: 600px) {
      .carousel-caption {
        display: none; 
      }
  }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </div>
  </div>
</nav>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script>
$(document).ready(function(){
    var continue_sending = true; 
    $("#start").click(function(){ 
        continue_sending = true; 
        function load_data(){
            $.get("/send_data", function(data, status){
                var $data = $('<div class="tableOne">');
                $data.append('<table class="inner">');
                $data.append('<tr>');
                for(var i = 1; i < data.length+1 ; i++){
                    $data.append(`<th style="text-align:center;color:white"> SLOT #${i}</th>`);
                }
                $data.append('</tr>');
                $data.append('<tr>');
                data.forEach(function(slot) {
                    if(slot){
                        $data.append('<td width="110"> hello </td>');
                    }
                    else{
                        $data.append(`<td width="110"></td>`);
                    }
                });
                $data.append('</tr>');
                $data.append('</table></div>')
                $('#showOccupancy').html($data);
            }).always(function() {
                if(continue_sending){
                    setTimeout(load_data, 2000);
                }
            });
        }
        load_data();
    });
    $("#stop").click(function(){
        continue_sending = false;
    });
});
</script>
<div id="blah" class="carousel-inner" data-ride="carousel">
    <!-- Indicators -->
    <img src="trial2.png" alt="Image">
    <div id="showOccupancy" class="occupancy"></div>
    <button id = "start" class="start_button">  Start  </button>
    <button id = "stop" class="stop_button">  Stop  </button>
</div>
  
<div class="container text-center">    
  <h3>Your Smart Parking Assistant</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>Current View</p>
    </div>
    <div class="col-sm-4"> 
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>Image Processing Arrays</p>    
    </div>
    <div class="col-sm-4">
      <button class="button" id="init"> Initialize </button>
    </div>
  </div>
</div><br>

<footer class="container-fluid text-center">
  <header>
    <% include ../partials/footer %>
  </header>
</footer>

</body>
</html>
