<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>PARAKEET</h1>
            <p>Your eyes on parking.</p>
            <button id = "start">Start</button>
            <button id = "stop">Stop</button>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script>
        $(document).ready(function(){
            var continue_sending = true; 
            $("#start").click(function(){ 
                continue_sending = true; 
                function load_data(){
                    $.get("/send_data", function(data, status){
                        var $data = $('<div class="inner">');
                        $data.append('<table>');
                        $data.append('<tr>');
                        for(var i = 1; i < data.length+1 ; i++){
                            $data.append(`<th style="text-align: center">SLOT #${i}</th>`);
                        }
                        $data.append('</tr>');
                        $data.append('<tr>');
                        data.forEach(function(slot) {
                            if(slot){
                                $data.append('<td width="110"><img src="occupied.png" alt="occupied" style="width:105px;height:80px;"></td>');
                            }
                            else{
                                $data.append(`<td width="110"></td>`);
                            }
                        });
                        $data.append('</tr>');
                        $data.append('</table></div>')
                        $('#showOccupancy').html($data);
                    }).always(function() {
                        if(continue_sending){
                            setTimeout(load_data, 2000);
                        }
                    });
                }
                load_data();
            });
            $("#stop").click(function(){
                continue_sending = false;
            });
        });
        </script>
        <h2>Occupancy</h2>
        <div class = "row" id="showOccupancy">
        </div>
    </main>
    
</body>
</html>