<!DOCTYPE html>
<html lang="en">
<head>
  <title>Parakeet</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    
    .carousel-inner img {
        width: 100%; /* Set width to 100% */
        margin: auto;
    }
    .tableDiv {
      min-height:200px;
      float: none;
    }
    .tableOne {
      margin: 0 auto;
      width: 700px;
    }
    .occupancy {
      position: absolute;
      bottom:150px;
      right:280px;
      border: 1px solid yellow;
      margin-top:20px;
    }
    .start_button {
      background-color:transparent;
      -moz-border-radius:28px;
      -webkit-border-radius:20px;
      border-radius:20px;
      border:1px solid #f0e735;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:14px;
      padding:10px 31px;
      text-decoration:none;
      position:absolute;
      bottom:10px;
      right:680px;
    }
    .start_button:hover {
      background-color:#ffd633;
    }
    .stop_button {
      background-color:transparent;
      -moz-border-radius:28px;
      -webkit-border-radius:28px;
      border-radius:20px;
      border:1px solid #f0e735;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:14px;
      padding:10px 31px;
      text-decoration:none;
      position:absolute;
      bottom:10px;
      right:550px;
    }
    .stop_button:hover {
      background-color:#ffd633;
    }
    /* Hide the carousel text when the screen is less than 600 pixels wide */
    @media (max-width: 600px) {
      .carousel-caption {
        display: none; 
      }
    }
    /* Dropdown Button */
    .dropbtn {
        background-color: #ffcc00;
        color: white;
        padding: 10px;
        font-size: 14px;
        border: none;
        cursor: pointer;
    }

    /* Dropdown button on hover & focus */
    .dropbtn:hover, .dropbtn:focus {
        background-color: #ffd633;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #ffd633}

    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {display:block;}
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">ADMIN</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </div>
  </div>
</nav>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script>
$(document).ready(function(){
    var continue_sending = true; 
    $("#start").click(function(){ 
        continue_sending = true; 
        function load_data(){
            $.get("/send_data", function(data, status){
                var $data = $('<div class="tableDiv">');
                $data.append('<table class="tableOne"><tr>');
                var counter = 0;
                var lot = 1;
                data.forEach(function(slot) {
                  if(counter%10 == 0){
                    $data.append(`</tr><tr><td colspan="10" style="text-align:center;color:white"> PARKING LOT #${lot} </td></tr><tr>`);
                    for(var i=1; i<11; i++){
                      $data.append(`<th style="text-align:center;color:white"> #${i}</th>`);
                      if(i==10){
                        $data.append('<tr>');
                      }
                    }
                    lot++;
                  }
                  if(slot){
                      $data.append('<td width="70" style="text-align: center;"><img src="occupied.png" alt="occupied" style="width:50px;height:40px;"></td>');
                  }
                  else{
                      $data.append(`<td width="70" style="text-align: center;"></td>`);
                  }
                  counter++;
                });
                $data.append('</tr>');
                $data.append('</table></div>')
                $('#showOccupancy').html($data);
            }).always(function() {
                if(continue_sending){
                    setTimeout(load_data, 60000);
                }
            });
        }
        load_data();
    });
    $("#stop").click(function(){
        continue_sending = false;
    });
    $("#init").click(function(){
      $.get("/init_controller", function(data, status){
        //var $data = $(`<div><p> ${data} </p></div>`);
        //$('#init_result').html($data);
        alert(data);
      });
    });
});
</script>
<div id="blah" class="carousel-inner" data-ride="carousel">
    <!-- Indicators -->
    <img src="trial2.png" alt="Image">
    <div id="showOccupancy" class="occupancy"></div>
    <button id = "start" class="start_button">  START  </button>
    <button id = "stop" class="stop_button">  STOP  </button>
</div>
  
<div class="container text-center">    
  <h3>Your Smart Parking Assistant</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <button class="dropbtn" id="init" type="submit"> Initialize System </button>
      <br><div id="init_result"></div>
    </div>
    <div class="col-sm-4">
      <form method="get" action="/init_slots1">
        <button class="dropbtn" id="init_slots" type="submit"> Node 1: Select Parking Spaces </button>
      </form>
      <br>
      <form method="get" action="/init_slots2">
        <button class="dropbtn" id="init_slots" type="submit"> Node 2: Select Parking Spaces </button>
      </form>
      <br>
      <form method="get" action="/update_slots">
        <button class="dropbtn" id="init_slots" type="submit"> Update Parking Coordinates </button>
      </form>
    </div>
    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn" id="time_interval">Time Interval</button>
        <div id="myDropdown" class="dropdown-content">
          <a id="10sec_interval">10 seconds</a>
          <a id="30sec_interval">30 seconds</a>
          <a id="1min_interval">1 minute</a>
        </div>
        <br><br>
        <form method="get" action="/measure">
          <button class="dropbtn" id="measure_metrics" type="submit"> Measure Metrics </button>
        </form>
      </div>
      <script>
        /* When the user clicks on the button, 
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }
        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
          if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
              }
            }
          }
        }
      </script>
  </div>
</div><br>

<footer class="container-fluid text-center">
  <header>
    <% include ../partials/footer %>
  </header>
</footer>

</body>
</html>
